

#friends-display-link{
    display: block;
    text-align: center;
    background-color: #faf7f7;
    padding: 10px;
    margin-top:-15px;
}

#friends-display-link i{
    color: rgba(0,0,0,0.3);
}

#friends-display-link .fa-angle-right{
    margin-left: 5px;
}


.channel{
    border-top:1px solid rgba(0,0,0,0.1);
}

.channel-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 0px;
}

.channel__title,
.channel-column i{
    color:rgba(0,0,0,0.3);
    font-size: 14px;
}


@keyframes splash-screen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

.splash-screen{
    position: absolute;
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    animation: splash-screen 2s ease-in-out forwards;
}

