header {
  margin: 120px 0px;
}

header h2,
header p {
  text-align: center;
}

header p {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.welcome .welcome__input {
  border: none;
  border-bottom: 1px;
  padding: 15px 0px;
}

.welcome__input:focus {
  outline: none;
}

.welcome__a {
  text-align: center;
}

.welcome__submit {
  border-radius: 5px;
  height: 35px;
  margin-bottom: 10px;
  border: none;
}
