.status-bar {
  padding-top:4px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top:0;
  z-index: 2;
}

.status-bar__col {
  width: 33%;
}

.status-bar__col:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__col:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__col .fa-battery-quarter{
  margin: 0px 4px;
}

.status-bar__col .fa-wifi{
  margin-left: 4px;
}